<h1>Working with pipes</h1>
<hr/>
<h4>Date Pipe</h4>
<p>{{"9/16/2022" | date:'short' }}</p>
<p>{{"9/16/2022" | date:'medium' }}</p>
<p>{{"9/16/2022" | date:'long' | uppercase}}</p>
<p>{{"9/16/2022" | date:'full' | lowercase}}</p>
<hr/>
<h4>Decimal Pipe</h4>
<p>{{3.1412 | number:'2.1-2'}}</p>
<hr/>
<h4>Percentage Pipe</h4>
<p>{{45/60 | percent:'2.1-2'}}</p>
<hr/>
<h4>Slice Pipe</h4>
<p>{{[10,20,30,40] | slice:1:40}}</p>
<hr/>

<h4>Currency Pipe</h4>
<p>{{1000 | currency:'INR '}}</p>

<h4>Reverse Pipe</h4>
<p>{{"Hari" |reverse}}</p>
<div>
    <input type="text" [(ngModel)]="personName"/>
    <span style="color:red">{{personName | reverse}}</span>
</div>

<input type="text" [(ngModel)]="searchTerm"/>
<ul>
    <li *ngFor="let p of ppl |search:searchTerm">{{p}}</li>
</ul>